/* FOOTER */
#footer {
    width: 100%;
    padding: 75px 0 32px;
    background-color: var(--dark-bg);
}
#footer .row {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}
#footer .row .col {
    padding: 0 15px 50px;
}
#footer .col h4 {
    padding-bottom: 30px;
    color: var(--light-bg);
    letter-spacing: 1.5px;
}
#footer .row .col li {
    padding-bottom: 10px;
    color: var(--light-text-footer);
    font-size: 13px;
}
#footer .row .col li a{
    color: var(--light-text-footer);
    font-size: 13px;
    line-height: 2;
    letter-spacing: 1.5px;
}
#footer .row .col li:hover a {
    color: var(--blue);
}
#footer .row .col p {
    max-width: 270px;
    line-height: 2;
    font-size: 13px;
    color: var(--light-text-footer);
}
#footer .row .col .follow {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 27px;
}
#footer .row .col .follow .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
#footer .row .col .follow .icon i {
    font-size: 20px;
    color: var(--light-text-footer);
}
#footer .row .col .follow .icon i:hover {
    color: var(--blue-heart);
}
#footer .input_nav input {
    font-size: 15px;
    outline: none;
    border: none;
    width: 100%;
    line-height: 2;
    color: var(--light-text-footer);
    background-color: var(--dark-bg);
}
#footer .input_nav .input_nav-focus {
    width: 0;
    border-bottom: 2px solid var(--blue);
    /* transition: all .5s linear; */
}
#footer .input_nav input:focus + .input_nav-focus {
    width: 100%;
}
#footer .row .col form .btn {
    margin-top: 18px;
    /* font-weight: 500; */
    line-height: 1.5;
    transition: all .2 linear;
}
#footer .row .col form .btn:hover {
    background-color: var(--light-btn);
    color: var(--blue);
}

#footer .footer_rights {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#footer .footer_rights p {
    color: var(--light-text-footer);
    cursor: default;
    text-align: center;
}
#footer .footer_rights p a {
    color: var(--blue-text-footer);
}
#footer .footer_rights p a:hover {
    color: var(--blue-hover);
}




/* BACK TO TOP BUTTON */
.btn_back-to-top.active {
    transform: translate(-50%, -25%);
}
.btn_back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 38px;
    z-index: 1000;
    background-color: #717fe0;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 100%);
    opacity: 0.5;
}
.btn_back-to-top:hover {
    opacity: 1;
}
.btn_back-to-top .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.btn_back-to-top .icon i {
    color: var(--light-btn);
}
